.wp-block-bento-blog-image {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
        width: 100% !important;
        min-height: 180px;
        height: auto !important;
        .bento-blog-image {
            min-height: inherit;
        }
    }

    .bento-blog-image {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        border: 1px solid #eee;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
        color: #000;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            border-radius: 24px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .pointer-events-none {
            width: 26px;
            height: 26px;
            right: 12px;
            top: 12px;
            position: absolute;
            pointer-events: none;
            transition-duration: .15s;
            transition-property: all;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            border-color: hsla(0, 0%, 100%, .2);
            border-width: 2px;
            border-radius: 9999px;
        }

        .bento-blog-image-url-container {
            position: absolute;
            width: 22px;
            height: 22px;
            right: 14px;
            top: 14px;
            background-color: rgba(0, 0, 0, .2);
            border-radius: 9999px;
            justify-content: center;
            align-items: center;
            display: flex;
            border-color:hsla(0,0%,100%,.2);
            border-width: 2px;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .15s;
            cursor: pointer;
        }

        .bento-blog-image-caption-container{
            position: absolute;
            left: 0;
            bottom: 0;
            max-width: 100%;
            transition-property: opacity;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: .2s;
            width: 100%;
            .bento-blog-image-caption-bg-white{
                padding: .375rem;
                margin: 1rem;
                border-radius: 8px;
                background-color: #fff;
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }

        &:hover {
            background-color: #FBFBFB;
        }

        .components-button{
            padding-top: 2px;
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
}