/* .wp-block-bento-blog-link .bento-blog-link .bento-blog-link-wrapper .bento-blog-link-content .bento-blog-link-logo{
    aspect-ratio: 1 / 1;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    height: 22px !important;
    overflow: hidden;
    padding: .5rem;
    width: 22px !important;
} */